/* Estilo general */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Espacia los elementos */
  align-items: flex-start; /* Alinea los elementos desde la parte superior */
  flex-wrap: wrap;
}

/* Contenedor principal que mantiene el layout de 3 columnas */
.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* Controla el ancho máximo de todo el contenedor */
  flex-wrap: wrap;
}

/* Formulario de gestión y desarrollo (izquierda) */
.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 45%; /* Ajusta el ancho del formulario */
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Cronómetro (debajo del formulario) */
.operador .cronometro-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 45%; /* Ajusta el ancho del cronómetro */
  box-sizing: border-box;
  margin-top: 20px; /* Espaciado entre el formulario y el cronómetro */
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Estilo base del cronómetro */
.cronometro-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

/* Para el rol de supervisor, colocarlo abajo del gráfico */
.cronometro-supervisor {
  position: absolute;
  bottom: 100px;
  right: 90px;
  width: 900px; /* Ajusta el ancho según sea necesario */
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Gráfico (derecha) */
.operador .grafico-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 45%; /* Ajusta el ancho del gráfico */
  box-sizing: border-box;
  margin-left: 20px; /* Espaciado entre el gráfico y los otros elementos */
}
.supervisor .grafico-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 1000px; /* Ajusta el ancho del gráfico */
  box-sizing: border-box;
  margin-left: 20px; /* Espaciado entre el gráfico y los otros elementos */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 1024px) {
  .form-container,
  .cronometro-container,
  .grafico-container {
    width: 90%; /* Los contenedores ocuparán el 90% del ancho */
    margin: 10px auto; /* Centra los contenedores */
  }

  .main-container {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: center; /* Centra los elementos en la columna */
  }
}

/* Cronómetro */
.cronometro {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.cronometro-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

button {
  padding: 15px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  font-size: 1.2em;
  min-width: 150px;
  margin: 7px 5px; /* Margen superior e inferior de 10px, lateral de 5px */
}

button:hover {
  background-color: #002244;
  transform: scale(1.05);
}

button:active {
  background-color: #001a33;
  transform: scale(0.98);
}
input[type='submit'] {
  padding: 15px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  font-size: 1.2em;
  min-width: 150px;
  margin: 7px 5px; /* Margen superior e inferior de 7px, lateral de 5px */
  text-align: center;
}

input[type='submit']:hover {
  background-color: #002244;
  transform: scale(1.05);
}

input[type='submit']:active {
  background-color: #001a33;
  transform: scale(0.98);
}

/* Estilos del formulario */
h2 {
  text-align: center;
  color: #333333;
}

form {
  display: flex;
  flex-direction: column;
}
label,
h2 {
  text-align: center; /* Centra horizontalmente el texto */
  display: block; /* Asegura que el ancho se aplique correctamente */
  margin: 0 auto; /* Centra cualquier margen adicional */
}
label {
  font-weight: bold; /* Opcional: resalta las etiquetas */
  margin-bottom: 8px; /* Espaciado entre la etiqueta y el campo */
}

.form-container h2 {
  text-align: center; /* Centra el título principal del formulario */
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='tel'],
select {
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}
input[type='number']:hover,
input.input-field:hover {
  border-color: #003366; /* Color azul para hover */
}

/* Estilos del gráfico */
.grafico-container h2 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
}

.grafico {
  max-width: 100%;
  max-height: 100%;
}

/* Ajustes para pantallas móviles */
@media (max-width: 768px) {
  .grafico-container {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
}
